@charset "UTF-8";

body {
	background-color: aqua black;
	background-size: 100%;
}

.box form .input_box {
	width: 100%;
	border-width: 0px 0px 2px 0px;
	border-style: solid;
	margin-top: 30px;
	position: relative;
}

.box form .input_box input {
	width: 100%;
	border: none;
	outline: none;
	font-size: 25px;
	padding: 7px 0px;
}

.box form .input_box label {
	position: absolute;
	left: 0px;
	font-size: 25px;
	top: 8px;
	pointer-events: none;
	transition: 0.2s;
}

.box .button {
	margin-top: 30px;
	font-size: 25px;
	padding: 7px 20px;
	color: #fff;
	border: none;
	background-color: #250654;
	float: right;
	cursor: pointer;
}

.box .button:active {
	color: #000;
	background-color: #fff;
}

.box form .input_box input:focus+label,
.box form .input_box input:valid+label {
	top: -15px;
	font-size: 18px;
	color: blue;
}